// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";

// Utility classes
@import "utilities.less";

@import "content.less";

ul.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul.list-inline {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  > li {
    display: inline-block;
  }

  > li + li {
    margin-left: 8px;
  }
}

.vskip {
  margin-bottom: 8px;
}

.vskipp {
  margin-bottom: 16px;
}

.hskip {
  margin-right: 8px;
}

.hskipp {
  margin-right: 16px;
}

.small {
  font-size: 13px;
}

.smaller {
  font-size: 12px;
}

.gray {
  color: #999;
}
