@import url('variables.less');
@import url('type.less');
@import url('scaffolding.less');
@import url('content.less');

ul.list-inline {
  list-style-type: none;
  padding: 0;

  > li {
    display: inline-block;
  }

  > li + li {
    margin-left: 8px;
  }
}

.vskip {
  margin-bottom: 8px;
}

.vskipp {
  margin-bottom: 16px;
}
